.footer {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background: #1E1E1E;
  color: #fff;
  text-align: left;
}

.header {
  margin-bottom: 20px;
  font-weight: 600;
}

.sponsor {
  font-weight: 600;
}

.contacts {
  margin: 0 30px;
}

.contact {
  display: flex;
  color: #CACACA;
}

.address {
  margin-right: 130px;
}
