.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  background: #1E1E1E;
}

.footer .footer-header {
  color: #fff;
}

.footer-wrapper {
  max-width: 270px;
  margin-left: 30px;
  color: #C8C8C8;
  text-align: left;
}

.footer-wrapper > * {
  margin-bottom: 20px;
}
