@import '../../App.scss';

.homepage {
  margin: 0 auto;
  padding: 230px 0;
}
.wrapper {
  margin: 0 auto;
  max-width: 770px;
}
.logo {
  width: 270px;
}
.perex {
  @include featureText;
  margin: 20px 0 50px;
}
